@import "~office-ui-fabric-react/dist/sass/References.scss";

.pillage {
  .container {
    max-width: 100%;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    color: #d9d9d9;
    @media all and (min-width: 600px) {
      .nav {
        flex: 1 0;
      }
      .main {
        flex: 6 0px;
      }
    }
    @media all and (min-width: 800px) {
      .main {
        flex: 6 0px;
      }
      .nav {
        order: 1;
      }
      .main {
        order: 2;
      }
    }
  }

  .parent {
    display: flex;
    flex-flow: row wrap;
    > * {
      padding: 10px;
      flex: 1 100%;
    }
  }

  .header {
    background-color: #07222b;
    border-style: solid;
    border-color: #a9a9a961;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    > .headerLeft {
      display: flex;
      flex-direction: row;
      align-items: center;
      > .image img {
        background: no-repeat;
        text-align: center;
        width: 120px;
        object-fit: contain;
        margin: 20px;
        border-radius: 50%;
      }
      .displayName {
        background: no-repeat;
        text-align: center;
        width: 120px;
        object-fit: contain;
        margin: 20px;
      }
      .level {
        background: no-repeat;
        text-align: center;
        width: 120px;
        object-fit: contain;
        margin: 20px;
        color: #1ab188;
      }
    }
    > .headerRight {
      display: flex;
      flex-direction: row;
      align-items: center;
      .exp {
        background-color: #1ab18891;
        text-align: center;
        width: 120px;
        border-style: solid;
        object-fit: contain;
        margin: 20px;
      }
      .units {
        background-color: #1ab18891;
        text-align: center;
        width: 120px;
        border-style: solid;
        object-fit: contain;
        margin: 20px;
      }
      .currency {
        background-color: #1ab18891;
        text-align: center;
        border-style: solid;
        width: 120px;
        object-fit: contain;
        margin: 20px;
      }
    }
  }
  .nav {
    background-color: #07222b;
    border-style: solid;
    border-color: #a9a9a961;
    border-width: 1px;
    display: flex;
    flex-direction: column;
  }
  .main {
    background-color: #07222b;
    border-style: solid;
    border-color: #a9a9a961;
    border-width: 1px;
    max-width: 1fr;
    padding: 0 20px;
    height: 800px;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 1rem;
    min-width: 160px;
    margin: 10px 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    background-color: #1ab188;
    &:hover {
      background-color: #179b76;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }
}
