@import "~office-ui-fabric-react/dist/sass/References.scss";

.pillage {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    color: #d9d9d9;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: #07222b;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg12;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
    padding: 10px;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    > button {
      margin-top: 5px;
      margin-left: 5px;
      text-align: left;
      min-width: 120px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background-color: #1ab188;
      &:hover {
        background-color: #179b76;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
    }
  }
}
